<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/common/templateClient">
<head>
<meta charset="UTF-8">
<title>Danh sách sản phẩm</title>
</head>
<body>
	<section layout:fragment="content">
		<!-- ảnh banner -->
		<section class="banner">
			<div class="container">
				<a href="sach-moi-tuyen-chon.html"><img
					th:src="@{/images/sach-moi-full-banner.jpg}"
					alt="sach-moi-full-banner" class="img-fluid"></a>
			</div>
		</section>

		<!-- các sản phẩm  -->
		<section class="content my-4">
			<div class="container">
				<div class="noidung bg-white" style="width: 100%;">
					<div class="items">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-xs-6" th:each="book : ${books}">
								<div class="card">
									<a th:href="@{'/san-pham?masach='+${book.maSach}}" class="motsanpham"
										style="text-decoration: none; color: black;"
										data-toggle="tooltip" data-placement="bottom"
										title="Lập Kế Hoạch Kinh Doanh Hiệu Quả"> <img th:src="@{'/download?image='+${book.getHinhAnh()}}"
										class="card-img-top anh" th:alt="@{book.tenSach}">
										<div class="card-body noidungsp mt-3">
											<h6 class="card-title ten">[[${book.tenSach}]]</h6>
											<!-- <small class="tacgia text-muted">Brian Finch</small> -->
											<div class="gia d-flex align-items-baseline">
												<div class="giamoi">[[${book.donGiaS}]] VNĐ</div>
												<!-- <div class="giacu text-muted">139.000 ₫</div> -->
												<!-- <div class="sale">-20%</div> -->
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- pagination bar  -->
				<div class="pagination-bar my-3">
					<div class="row text-center">
						<div class="col-12">
							<nav>
								<ul class="pagination justify-content-center">
									<th:block th:if="${totalPage <= 8}">
										<a
											th:href="@{'/tim-kiem?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}"
											th:each="i: ${#numbers.sequence(1, totalPage)}"
											th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
									</th:block>
									<th:block th:if="${totalPage > 8}">
										<a
											th:href="@{'/tim-kiem?currentPage=1'+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}"
											th:class="${currentPage == 1 ? 'disbale' : ''}">&laquo;</a>
										<th:block
											th:if="${currentPage <= 4 || currentPage > totalPage - 3}">
											<a
												th:href="@{'/tim-kiem?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}"
												th:each="i: ${#numbers.sequence(1, 5)}"
												th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
											<a
												th:href="@{'/tim-kiem?currentPage=5'+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}">...</a>
											<a
												th:href="@{'/tim-kiem?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}"
												th:each="i: ${#numbers.sequence(totalPage - 3, totalPage)}"
												th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
										</th:block>
										<a
											th:href="@{'/tim-kiem?currentPage='+${totalPage}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}"
											th:class="${currentPage == totalPage ? 'disbale' : ''}">&raquo;</a>
									</th:block>

									<th:block
										th:if="${currentPage > 4 && currentPage < totalPage - 3}">
										<a
											th:href="@{'/tim-kiem?currentPage='+${currentPage - 4}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}">...</a>

										<a
											th:href="@{'/tim-kiem?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}"
											th:each="i: ${#numbers.sequence(currentPage - 3, currentPage + 3)}"
											th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
										<a
											th:href="@{'/tim-kiem?currentPage='+${currentPage + 4}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nhommua='+${nhommua}}">...</a>
									</th:block>
								</ul>
							</nav>
						</div>
					</div>
				</div>

				<!--het khoi san pham-->
			</div>
			<!--het div noidung-->
			</div>
			<!--het container-->
		</section>


		<!-- thanh cac dich vu :mien phi giao hang, qua tang mien phi ........ -->
		<section class="abovefooter text-white"
			style="background-color: #CF111A;">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="dichvu d-flex align-items-center">
							<img src="../static/images/icon-books.png"
								th:src="@{images/icon-books.png}" alt="icon-books">
							<div class="noidung">
								<h6 class="tieude font-weight-bold">HƠN 14.000 TỰA SÁCH HAY</h6>
								<p class="detail">Tuyển chọn bởi DealBooks</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="dichvu d-flex align-items-center">
							<img th:src="@{/images/icon-ship.png}" alt="icon-ship">
							<div class="noidung">
								<h6 class="tieude font-weight-bold">MIỄN PHÍ GIAO HÀNG</h6>
								<p class="detail">Từ 150.000đ ở TP.HCM</p>
								<p class="detail">Từ 300.000đ ở tỉnh thành khác</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="dichvu d-flex align-items-center">
							<img th:src="@{/images/icon-gift.png}" alt="icon-gift">
							<div class="noidung">
								<h6 class="tieude font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h6>
								<p class="detail">Tặng Bookmark</p>
								<p class="detail">Bao sách miễn phí</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="dichvu d-flex align-items-center">
							<img th:src="@{/images/icon-return.png}" alt="icon-return">
							<div class="noidung">
								<h6 class="tieude font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h6>
								<p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<!-- nut cuon len dau trang -->
	<div class="fixed-bottom">
		<div class="btn btn-warning float-right rounded-circle nutcuonlen"
			id="backtotop" href="#" style="background: #CF111A;">
			<i class="fa fa-chevron-up text-white"></i>
		</div>
	</div>


</body>
</html>