<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="UTF-8" />
<link th:href="@{/templateAdmin/css/multiple-image-preview.css}"
	rel="stylesheet" />
<title>Thông tin thành viên</title>
<style>
.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h3 class="text-center">Thành Viên [[${thanhvien.hoTen}]]</h3>
			<hr />
			<div class="box-content">
				<div>
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Họ
								và tên</p>
							<span class="customer-value">[[${thanhvien.hoTen}]]</span>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-info">Chỉnh
								sửa</button>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-heart fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Tên
								tài khoản</p>
							<span class="customer-value">[[${thanhvien.taiKhoan}]]</span>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-info">Chỉnh
								sửa</button>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-mobile fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Số
								điện thoại</p>
							<span class="customer-value">[[${thanhvien.soDienThoai}]]</span>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-info">Chỉnh
								sửa</button>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-address-book fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Địa chỉ</p>
<!-- 								chỉ</p> -->
							<span class="customer-value">[[${thanhvien.diaChi}]]</span>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-info">Chỉnh
								sửa</button>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-cart-arrow-down fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ưu
								đãi</p>
							<span class="customer-value"></span>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-info">Chỉnh
								sửa</button>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Tên
								loại thành viên</p>
							<span class="customer-value">[[${thanhvien.loaiThanhVien.tenLoaiThanhVien}]]</span>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-outline-info">Chỉnh
								sửa</button>
						</div>
					</div>
					<hr />
				</div>
				<div class="row">
					<div class="col text-center">
						<a class="btn btn-primary mb-4" th:href="@{/admin/thanh-vien/danh-sach-thanh-vien}">Quay lại</a>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-12">
					<div class="text-center bold text-center mb-4">
						<h3>Thành Viên [[${thanhvien.hoTen}]]</h3>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="id" class="col-sm-5 col-form-label">ID:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.maThanhVien}" readonly
									class="form-control-plaintext" id="id" />
							</div>
						</div>
						<div class="row col-4">
							<label for="username" class="col-sm-5 col-form-label">Tài
								khoản:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.taiKhoan}" readonly
									class="form-control-plaintext" id="username" />
							</div>
						</div>
						<div class="row col-4">
							<label for="email" class="col-sm-5 col-form-label">Email:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.email}" readonly
									class="form-control-plaintext" id="email" />
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="fullname" class="col-sm-5 col-form-label">Họ
								tên:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.hoTen}" readonly
									class="form-control-plaintext" id="fullname" />
							</div>
						</div>
						<div class="row col-4">
							<label for="address" class="col-sm-5 col-form-label">Địa
								chỉ:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.diaChi}" readonly
									class="form-control-plaintext" id="address" />
							</div>
						</div>
						<div class="row col-4">
							<label for="phone" class="col-sm-5 col-form-label">Số
								điện thoại:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.soDienThoai}" readonly
									class="form-control-plaintext" id="phone" />
							</div>
						</div>
					</div>
					<div class="mb-3 row">
						<div class="row col-4">
							<label for="type" class="col-sm-5 col-form-label">Loại
								thành viên:</label>
							<div class="col-sm-7">
								<input type="text"
									th:value="${thanhvien.loaiThanhVien.tenLoaiThanhVien}" readonly
									class="form-control-plaintext" id="type" />
							</div>
						</div>
						<div class="row col-4">
							<label for="discount" class="col-sm-5 col-form-label">Ưu
								đãi:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${thanhvien.loaiThanhVien.uuDai}"
									readonly class="form-control-plaintext" id="discount" />
							</div>
						</div>
						<div class="row col-4">
							<label for="role" class="col-sm-5 col-form-label">Quyền:</label>
							<div class="col-sm-7">
								<input type="text" th:value="${roles}"
									readonly class="form-control-plaintext" id="role" />
							</div>
						</div>
					</div>
					<div class="text-left">
						<a class="btn btn-info col-2"
							href="/Store/admin/thanh-vien/danh-sach-thanh-vien">Quay lại</a>
					</div>
					<div th:replace="admin/common/footer :: footer"></div>
				</div>
			</div>-->		
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>

</body>
</html>