<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="utf-8" />
<title>Danh Sách Thành Viên</title>
<link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<h3 class="text-center">Danh sách thành viên</h3>
			<hr />
			<form>
				<div class="row">
					<div class="col-4 search-field">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Tên Thành Viên:</label>
							<div class="col-sm-7">
								<input class="form-control" type="text" name="tenthanhvien"
									th:value="${tenthanhvien}" placeholder="Nhập tên thành viên">
							</div>
						</div>
					</div>
					<div class="col-4 search-field">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Tên Tài Khoản:</label>
							<div class="col-sm-7">
								<input class="form-control" type="text" name="tentaikhoan"
									th:value="${tentaikhoan}" placeholder="Nhập tên tài khoản">
							</div>
						</div>
					</div>
					<div class="col-4 search-field">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Loại Thành Viên:</label>
							<div class="col-sm-7">
								<select class="w-100 form-control" type="text"
									name="loaithanhvien" th:value="${loaithanhvien}">

									<option value="">-- Chọn loại thành viên --</option>
									<option th:each="ltv : ${LoaiThanhViens}"
										th:if="${loaithanhvien == ltv.tenLoaiThanhVien}"
										th:value="${ltv.tenLoaiThanhVien}"
										th:text="${ltv.tenLoaiThanhVien}" selected></option>
									<option th:each="ltv : ${LoaiThanhViens}"
										th:unless="${loaithanhvien == ltv.tenLoaiThanhVien}"
										th:value="${ltv.tenLoaiThanhVien}"
										th:text="${ltv.tenLoaiThanhVien}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary" type="submit">Tìm Kiếm</button>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-12">
						<table class="custom_table text-center" style="width: 100%">
							<tr>
								<th>Mã Thành Viên</th>
								<th>Tài Khoản</th>
								<th>Họ Tên</th>
								<th>Số Điện Thoại</th>
								<th>Địa Chỉ</th>
								<th>Email</th>
								<th>Loại Thành Viên</th>
								<th>Chọn</th>
							</tr>

							<tr th:each="thanhvien : ${listThanhViens}">
								<td th:text="${thanhvien.maThanhVien}"></td>
								<td th:text="${thanhvien.taiKhoan}"></td>
								<td th:text="${thanhvien.hoTen}"></td>
								<td th:text="${thanhvien.soDienThoai}"></td>
								<td th:text="${thanhvien.diaChi}"></td>
								<td th:text="${thanhvien.email}"></td>
								<td th:text="${thanhvien.loaiThanhVien.tenLoaiThanhVien}"></td>
								<td><a
									th:href="@{'/admin/thanh-vien/thong-tin-thanh-vien/'+${thanhvien.maThanhVien}}"><i class="fas fa-eye"></i></a> <a href="#"
									data-bs-toggle="modal"
									th:data-bs-target="@{'#my-modal'+${thanhvien.maThanhVien}}">
										<i class="fas fa-trash-alt delete-icon"></i>
								</a></td>
								<div th:id="@{'my-modal'+${thanhvien.maThanhVien}}"
									class="modal" tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Xóa thành viên</h5>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div
												th:if="${thanhvien.loaiThanhVien.tenLoaiThanhVien} != 'Admin'">
												<div class="modal-body">
													<p>Bạn có chắc chắn muốn xóa thành viên
														[[${thanhvien.hoTen}]] ?</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Hủy</button>
													<a class="btn btn-primary"
														th:href="@{'/admin/thanh-vien/xoa-thanh-vien/'+${thanhvien.maThanhVien}}">Xóa</a>
												</div>
											</div>
											<div
												th:if="${thanhvien.loaiThanhVien.tenLoaiThanhVien} == 'Admin'">
												<div class="modal-body">
													<p>Bạn không có quyền xóa Admin [[${thanhvien.hoTen}]]
														!</p>
												</div>
												<div class="modal-footer justify-content-center">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Đã hiểu</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</tr>
						</table>
					</div>
				</div>
				<div class="row mt-4 mb-4">
					<span class="col-6" style="display: block; text-align: center;">Showing
						users [[${start}]] to [[${end}]] of [[${totalData}]]</span>
					<div class="pagination col-6">

						<th:block th:if="${totalPage <= 8}">
							<a
								th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${i}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}"
								th:each="i: ${#numbers.sequence(1, totalPage)}"
								th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
						</th:block>
						<th:block th:if="${totalPage > 8}">
							<a
								th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage=1&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}"
								th:class="${currentPage == 1 ? 'disbale' : ''}">&laquo;</a>
							<th:block
								th:if="${currentPage <= 4 || currentPage > totalPage - 3}">
								<a
									th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${i}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}"
									th:each="i: ${#numbers.sequence(1, 5)}"
									th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
								<a
									th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage==5&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}">...</a>
								<a
									th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${i}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}"
									th:each="i: ${#numbers.sequence(totalPage - 3, totalPage)}"
									th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
							</th:block>
							<a
								th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${totalPage}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}"
								th:class="${currentPage == totalPage ? 'disbale' : ''}">&raquo;</a>
						</th:block>

						<th:block
							th:if="${currentPage > 4 && currentPage < totalPage - 3}">
							<a
								th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${currentPage - 4}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}">...</a>

							<a
								th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${i}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}"
								th:each="i: ${#numbers.sequence(currentPage - 3, currentPage + 3)}"
								th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
							<a
								th:href="@{'/admin/thanh-vien/danh-sach-thanh-vien?currentPage='+${currentPage + 4}+'&tenthanhvien='+${tenthanhvien}+'&tentaikhoan='+${tentaikhoan}+'&loaithanhvien='+${loaithanhvien}}">...</a>
						</th:block>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>
</body>
</html>