<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="utf-8" />
<title>Danh Sách Sản Phẩm</title>
<link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<h3 class="text-center">Danh sách sản phẩm</h3>
			<hr />
			<form>
				<div class="row">
					<div class="col-6 search-field">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Tên Sách:</label>
							<div class="col-sm-9">
								<input class="form-control" type="text" name="tensach"
									th:value="${tensach}" placeholder="Nhập tên sách">
							</div>
						</div>
					</div>
					<div class="col-6 search-field">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Thể Loại:</label>
							<div class="col-sm-9">
								<select class="w-100 form-control" type="text" name="theloai"
									th:value="${theloai}">

									<option value="">-- Chọn thể loại --</option>
									<option th:each="tl : ${TheLoais}"
										th:if="${theloai == tl.tenTheLoai}"
										th:value="${tl.tenTheLoai}" th:text="${tl.tenTheLoai}"
										selected></option>
									<option th:each="tl : ${TheLoais}"
										th:unless="${theloai == tl.tenTheLoai}"
										th:value="${tl.tenTheLoai}" th:text="${tl.tenTheLoai}">
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-6 search-field">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">NXB:</label>
							<div class="col-sm-9">
								<select class="w-100 form-control" type="text" name="nxb"
									th:value="${nxb}">

									<option value="">-- Chọn nhà xuất bản --</option>
									<option th:each="nb : ${NhaXuatBans}"
										th:if="${nxb == nb.tenNhaXuatBan}"
										th:value="${nb.tenNhaXuatBan}" th:text="${nb.tenNhaXuatBan}"
										selected></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-6 search-field">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Nhóm mua:</label>
							<div class="col-sm-9">
								<select class="w-100 form-control" type="text" name="nhommua"
									th:value="${nhommua}">

									<option value="">-- Chọn nhóm mua --</option>
									<option th:each="nm : ${NhomMuas}"
										th:if="${nhommua == nm.tenNhom}" th:value="${nm.tenNhom}"
										th:text="${nm.tenNhom}" selected></option>
									<option th:each="nm : ${NhomMuas}"
										th:unless="${nhommua == nm.tenNhom}" th:value="${nm.tenNhom}"
										th:text="${nm.tenNhom}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-6 search-field">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Đơn giá từ:</label>
							<div class="col-sm-9">
								<input class="w-100 form-control" type="number" min="0"
									max="100000000" name="priceStart" th:value="${priceStart}"
									placeholder="Nhập đơn giá" />
							</div>
						</div>
					</div>
					<div class="col-6 search-field">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Đến:</label>
							<div class="col-sm-9">
								<input class="w-100 form-control" type="number" min="0"
									max="100000000" name="priceEnd" th:value="${priceEnd}"
									placeholder="Nhập đơn giá" />
							</div>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary" type="submit">Tìm Kiếm</button>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-12">
						<table class="custom_table text-center" style="width: 100%">
							<tr>
								<th>Mã Sách</th>
								<th>Tên Sách</th>
								<th>Ảnh bìa</th>
								<!-- <th>Ảnh 2</th>
								<th>Ảnh 3</th> -->
								<th>Đơn Giá</th>
								<th>Số Lượng Tồn</th>
								<th>Số Lượng Mua</th>
								<th>Thể Loại</th>
								<th>Nhóm</th>
								<th>Nhà Xuất Bản</th>
								<th>Chọn</th>
							</tr>

							<tr th:each="book : ${books}">
								<td th:text="${book.maSach}"></td>
								<td th:text="${book.tenSach}"></td>
								<td><img
									th:src="@{'/download?image='+${book.getHinhAnh()}}"
									style="width: 100px; height: 50px;"></td>
								<!-- <td><img
									th:src="@{'/download?image='+${book.getHinhAnh2()}}" th:if="${book.getHinhAnh2()} != null"
									style="width: 100px; height: 50px;"></td>
								<td><img
									th:src="@{'/download?image='+${book.getHinhAnh3()}}" th:if="${book.getHinhAnh3()} != null"
									style="width: 100px; height: 50px;"></td> -->
								<td th:text="${book.donGia}"></td>
								<td th:text="${book.soLuongTon}"></td>
								<td th:text="${book.soLuongMua}"></td>
								<td th:text="${book.theLoai.tenTheLoai}"></td>
								<td th:text="${book.nhomMua.tenNhom}"></td>
								<td th:text="${book.nhaXuatBan.tenNhaXuatBan}"></td>
								<td colspan="2"><a
									th:href="@{'/admin/san-pham/sua-san-pham?maSach='+${book.maSach}}"><i
										class="far fa-edit edit-icon"></i></a> <a href="#"
									data-bs-toggle="modal"
									th:data-bs-target="@{'#my-modal'+${book.maSach}}"> <i
										class="fas fa-trash-alt delete-icon"></i>
								</a></td>
								<div th:id="@{'my-modal'+${book.maSach}}" class="modal"
									tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Xóa sản phẩm</h5>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<p>Bạn có chắc chắn muốn xóa sản phẩm
													[[${book.tenSach}]] ?</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Hủy</button>
												<a class="btn btn-primary"
													th:href="@{'/admin/san-pham/xoa-san-pham/'+${book.maSach}}">Xóa</a>
											</div>
										</div>
									</div>
								</div>
							</tr>
						</table>
					</div>
				</div>
				<div class="row mt-4 mb-4">
					<span class="col-6" style="display: block; text-align: center;">Showing
						products [[${start}]] to [[${end}]] of [[${totalData}]]</span>
					<div class="pagination col-6">

						<th:block th:if="${totalPage <= 8}">
							<a
								th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}"
								th:each="i: ${#numbers.sequence(1, totalPage)}"
								th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
						</th:block>
						<th:block th:if="${totalPage > 8}">
							<a
								th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage=1&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}"
								th:class="${currentPage == 1 ? 'disbale' : ''}">&laquo;</a>
							<th:block
								th:if="${currentPage <= 4 || currentPage > totalPage - 3}">
								<a
									th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}"
									th:each="i: ${#numbers.sequence(1, 5)}"
									th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
								<a
									th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage=5&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}">...</a>
								<a
									th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}"
									th:each="i: ${#numbers.sequence(totalPage - 3, totalPage)}"
									th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
							</th:block>
							<a
								th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${totalPage}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}"
								th:class="${currentPage == totalPage ? 'disbale' : ''}">&raquo;</a>
						</th:block>

						<th:block
							th:if="${currentPage > 4 && currentPage < totalPage - 3}">
							<a
								th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${currentPage - 4}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}">...</a>

							<a
								th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${i}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}"
								th:each="i: ${#numbers.sequence(currentPage - 3, currentPage + 3)}"
								th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
							<a
								th:href="@{'/admin/san-pham/danh-sach-san-pham?currentPage='+${currentPage + 4}+'&tensach='+${tensach}+'&theloai='+${theloai}+'&nxb='+${nxb}+'&nhommua='+${nhommua}+'&priceStart='+${priceStart}+'&priceEnd='+${priceEnd}}">...</a>
						</th:block>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>
</body>
</html>