<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="UTF-8" />
<link th:href="@{/templateAdmin/css/multiple-image-preview.css}" rel="stylesheet" />
<title>Sửa Sản Phẩm [[${Sach.tenSach}]]</title>
<style>
.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.tiny.cloud/1/2mxsxulxmdqvlr9jnx0cii9sz96jwsyqbahtu3gars8e7kp6/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
      tinymce.init({
        selector: '#mytextarea'
      });
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form th:action="@{/admin/san-pham/sua-san-pham}" th:object="${Sach}" enctype="multipart/form-data" method="POST">
					<div class="text-center bold text-center mb-4">
						<h3>Sửa Sản Phẩm [[${Sach.tenSach}]]</h3>
					</div>
					
					<div class="mb-3 row">
					    <label for="name" class="col-sm-2 col-form-label">Tên sách</label>
					    <div class="col-sm-10">
					      <input type="text" th:field="*{tenSach}" class="form-control" id="name" />
					      <span class="text-danger" th:errors="*{tenSach}"></span>
					    </div>
				  	</div>
					<div class="mb-3 row">
					    <label for="price" class="col-sm-2 col-form-label">Giá</label>
					    <div class="col-sm-10">
					      <input type="number" min="0" th:field="*{donGia}" class="form-control" id="price" />
					      <span class="text-danger" th:errors="*{donGia}"></span>
					    </div>
					</div>
					<div class="mb-3 row">
					    <label for="quantity" class="col-sm-2 col-form-label">Số Lượng</label>
					    <div class="col-sm-10">
					      <input type="number" min="0" th:field="*{soLuongTon}" class="form-control" id="quantity" />
					      <span class="text-danger" th:errors="*{soLuongTon}"></span>
					    </div>
					</div>
					<div class="mb-3 row">
					    <label for="mytextarea" class="col-sm-2 col-form-label">Mô Tả</label>
					    <div class="col-sm-10">
					      <textarea rows="" cols="" th:field="*{moTa}" id="mytextarea"></textarea>
					      <span class="text-danger" th:errors="*{moTa}"></span>
					    </div>
					</div>
					<div class="mb-3 row">
					    <label for="category" class="col-sm-2 col-form-label">Thể Loại</label>
					    <div class="col-sm-10">
					      <select class="form-select" th:field="*{theLoai.maTheLoai}" id="category">
							<option th:each="tl : ${TheLoais}" th:value="${tl.maTheLoai}"
								th:text="${tl.tenTheLoai}"></option>
						</select>
					    </div>
					</div>
					<div class="mb-3 row">
					    <label for="nsx" class="col-sm-2 col-form-label">Nhà Sản Xuất</label>
					    <div class="col-sm-10">
					      <select class="form-select" th:field="*{nhaXuatBan.maNhaXuatBan}" id="nsx">
							<option th:each="nxb : ${NhaXuatBans}" th:value="${nxb.maNhaXuatBan}"
								th:text="${nxb.tenNhaXuatBan}"></option>
							</select>
					    </div>
					</div>
					<div class="mb-3 row">
					    <label for="nhommua" class="col-sm-2 col-form-label">Nhóm Mua</label>
					    <div class="col-sm-10">
					      <select class="form-select" th:field="*{nhomMua.maNhom}">
							<option th:each="nm : ${NhomMuas}" th:value="${nm.maNhom}"
								th:text="${nm.tenNhom}"></option>
						</select>
					    </div>
					</div>
					<div class="row mb-4">
							<label class="col-sm-2 col-form-label">Hình ảnh</label>
							<div class="card col-sm-10" style="border: none">
								<div class="card-header d-flex justify-content-between">
									<h4>Image Uploading</h4>
									<input type="file" id="file-input" name="imagefiles"
									accept="image/png, image/jpeg" onchange="preview()" multiple class="d-none">
									<button class="btn btn-sm btn-primary" type="button"
									onclick="document.getElementById('file-input').click()">Choose
									Images</button>
								</div>
								<span class="text-danger" th:errors="*{imagefiles}"></span>
							<div id="images" class="card-body col-12 d-flex justify-content-start">
								<div class="image_container d-flex justify-content-center position-relative">
									<img th:src="@{'/download?image='+${Sach.getHinhAnh()}}">
									<span class="position-absolute temp-delete-ic">x</span>
								</div>
								<div class="image_container d-flex justify-content-center position-relative">
									<img th:src="@{'/download?image='+${Sach.getHinhAnh2()}}">
									<span class="position-absolute temp-delete-ic">x</span>
								</div>
								<div class="image_container d-flex justify-content-center position-relative">
									<img th:src="@{'/download?image='+${Sach.getHinhAnh3()}}">
									<span class="position-absolute temp-delete-ic">x</span>
								</div>
							</div>
							</div>
						</div>
					<div class="text-center">
						<input class="btn btn-primary col-2" type="submit" value="Sửa">
					</div>
					
										<!-- để nguyên để lấy dữ liệu sửa sách -->
					<input type="text" th:field="*{maSach}" class="form-control" style="visibility: hidden;" />
					<input type="text" th:field="*{hinhAnh}" class="form-control" style="visibility: hidden;" />
					<input type="text" th:field="*{hinhAnh2}" class="form-control" style="visibility: hidden;" />
					<input type="text" th:field="*{hinhAnh3}" class="form-control" style="visibility: hidden;" />
					
				</form>
				</div>
				<script>
				let fileInput = document.getElementById("file-input");
				let imageContainer = document.getElementById("images");
				let numOfFiles = document.getElementById("num-of-files");
				let tempDelIcon = document.querySelectorAll(".temp-delete-ic");
				
				function displayThreeImageIn1Label(imagesLength) {
					/* let imagesLength = imageContainer.childNodes.length */
				    const minLength = 3
				    let updatedLength = 0
				    if(imagesLength > minLength) {
				    	updatedLength = imagesLength - minLength
				    }
					console.log(updatedLength)
				    console.log(imagesLength)
				    if(updatedLength !== 0) {
				    	for(let i = 0; i < updatedLength; i++) {
					    	imageContainer.removeChild(imageContainer.getElementsByClassName("image_container")[i])
					    }	
				    }
				}
				
				tempDelIcon.forEach(el => {
					el.onclick = function() {
						el.parentNode.remove()
					}
				})

				function preview(){
				    /* imageContainer.innerHTML = ""; */
				    /* numOfFiles.textContent = `${fileInput.files.length} Files Selected`; */

				    for(i of fileInput.files){
				        let reader = new FileReader();
				        let figure = document.createElement("div");
				        figure.className = "image_container d-flex justify-content-center position-relative"
				        reader.onload=()=>{
				            let img = document.createElement("img");
				            img.setAttribute("src",reader.result);
				            figure.appendChild(img);
				        }
				        imageContainer.appendChild(figure);
				        reader.readAsDataURL(i);
				    }
				    displayThreeImageIn1Label(imageContainer.querySelectorAll("div").length)
				}
					
				</script>
			</div>
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>
	<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
      entity_encoding : "raw",
      encoding: "UTF-8",
   });
  </script>
  
    <!--Script-->
  
</body>
</html>