<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/templateAdmin">
<head>
<meta charset="UTF-8" />
<link th:href="@{/templateAdmin/css/multiple-image-preview.css}"
	rel="stylesheet" />
<link th:href="@{/css/pagination.css}" rel="stylesheet" />
<title>Thông tin đơn hàng</title>
<style>
.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3 class="mb-4">Thông tin khách hàng</h3>
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user-tie fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">ID
								Khách Hàng</p>
							<span class="customer-value">[[${donhang.getKhachHang().getMaKhachHang()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-id-card fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">ID
								Thành Viên</p>

							<span
								th:if="${donhang.getKhachHang().getThanhVien().getMaThanhVien()} != 0"
								class="customer-value">[[${donhang.getKhachHang().getThanhVien().getMaThanhVien()}]]</span>
							<span
								th:if="${donhang.getKhachHang().getThanhVien().getMaThanhVien()} == 0"
								class="customer-value">Chưa có tài khoản</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-user fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Họ
								và tên</p>
							<span class="customer-value">[[${donhang.getKhachHang().getTenKhachHang()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-envelope fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Email
							</p>
							<span class="customer-value">[[${donhang.getKhachHang().getEmail()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-map-marker-alt fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Địa
								chỉ</p>
							<span class="customer-value">[[${donhang.getKhachHang().getDiaChi()}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-mobile fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Số
								điện thoại</p>
							<span class="customer-value">[[${donhang.getKhachHang().getSoDienThoai()}]]</span>
						</div>
					</div>
					<hr />
				</div>
				<div class="col-6">
					<h3 class="mb-4">Thông tin đơn hàng</h3>
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-cash-register fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">ID
								Đơn hàng</p>
							<span class="customer-value">[[${donhang.maDonHang}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-calendar-plus fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ngày
								đặt</p>
							<span class="customer-value">[[${donhang.ngayDat}]]</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-calendar-check fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ngày
								giao</p>
							<span th:if="${donhang.ngayGiao} != null" class="customer-value">[[${donhang.ngayGiao}]]</span>
							<span th:if="${donhang.ngayGiao} == null" class="customer-value">Chưa được giao hàng</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-question-circle fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Tình
								trạng</p>
							<span class="customer-value"
								th:if="${donhang?.daThanhToan} == true">Đã giao</span> <span
								class="customer-value" th:if="${donhang?.daThanhToan} == false">Chờ
								giao hàng</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-credit-card fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Thanh
								toán</p>
							<span class="customer-value"
								th:if="${donhang?.daThanhToan} == true">Đã thanh toán</span> <span
								class="customer-value" th:if="${donhang?.daThanhToan} == false">Chưa
								thanh toán</span>
						</div>
					</div>
					<hr />
					<div class="row align-items-center mb-3">
						<div class="col-1 text-center">
							<i class="fas fa-tag fa-2x"></i>
						</div>
						<div class="col-8">
							<p class="customer-field" style="margin: 0; text-align: left">Ưu
								đãi</p>
							<span class="customer-value">[[${donhang.uuDai}]]%</span>
						</div>
					</div>
					<hr />
				</div>
			</div>
			<h3 class="mb-4 text-center">Chi tiết đơn hàng</h3>
			<div class="text-center">
				<div class="row align-items-center mb-3">
					<div class="col-12">
						<table class="custom_table text-center" style="width: 100%">
							<tr>
								<th>Tên sản phẩm</th>
								<th>Đơn giá</th>
								<th>Số lượng</th>
							</tr>

							<tr th:each="chitiet : ${chitiets}">
								<td th:text="${chitiet.tenSach}"></td>
								<td th:text="${chitiet.soLuong}"></td>
								<td th:text="${chitiet.donGia}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					<a class="btn btn-primary mb-4"
						th:href="@{/admin/don-hang/danh-sach-don-hang}">Quay lại</a>
				</div>
			</div>
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>

</body>
</html>