<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/common/templateAdmin">
<head>
<meta charset="utf-8" />
<title>Danh Sách Đơn Hàng</title>
<link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<h3 class="text-center">Danh sách đơn hàng</h3>

			<hr />
			<form>
				<div class="row">
					<div class="col-4 search-field">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Tên Khách Hàng:</label>
							<div class="col-sm-7">
								<input class="form-control" type="text" name="tenkhachhang"
									th:value="${tenthanhvien}" placeholder="Nhập tên khách hàng">
							</div>
						</div>
					</div>
					<div class="col-4 search-field">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Trạng Thái Đơn:</label>
							<div class="col-sm-7">
								<input class="form-control" type="text" name="trangthai"
									th:value="${trangthai}" placeholder="Nhập tên trạng thái">
							</div>
						</div>
					</div>
					<div class="col-4 search-field">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Đặt Từ Ngày:</label>
							<div class="col-sm-7">
								<input class="form-control" type="date" name="ngaydat"
									th:value="${ngaydat}">
							</div>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-primary" type="submit">Tìm Kiếm</button>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-12">
						<table class="custom_table text-center" style="width: 100%">
							<tr>
								<th>Mã Đơn Hàng</th>
								<th>Khách Hàng</th>
								<th>Ngày Đặt</th>
								<th>Ngày Giao</th>
								<th>Tình Trạng</th>
								<th>Thanh Toán</th>
								<th>Chọn</th>
							</tr>

							<tr th:each="donhang : ${listDonHangs}">
								<td th:text="${donhang?.maDonHang}"></td>
								<td th:text="${donhang.getKhachHang().getTenKhachHang()}"></td>
								<td th:text="${donhang?.ngayDat}"></td>
								<td th:text="${donhang?.ngayGiao}"></td>
								<td th:text="${donhang?.tinhTrangGiaoHang}"></td>
								<td th:if="${donhang?.daThanhToan} == true">Đã thanh toán</td>
								<td th:if="${donhang?.daThanhToan} == false">Chờ giao hàng</td>
								<td><a
									th:href="@{'/admin/don-hang/thong-tin-don-hang/'+${donhang.maDonHang}}"><i class="fas fa-eye"></i></a> <a href="#"
									data-bs-toggle="modal"
									th:data-bs-target="@{'#my-modal'+${donhang.maDonHang}}"> <i
										class="fas fa-trash-alt delete-icon"></i>
								</a></td>
								<div th:id="@{'my-modal'+${donhang.maDonHang}}" class="modal"
									tabindex="-1">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Xóa đơn hàng</h5>
												<button type="button" class="btn-close"
													data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div th:if="${donhang?.daThanhToan} == true">
												<div class="modal-body">
													<p>Bạn có chắc chắn muốn xóa đơn hàng mã
														[[${donhang.maDonHang}]] ?</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Hủy</button>
													<a class="btn btn-primary"
														th:href="@{'/admin/don-hang/xoa-don-hang/'+${donhang?.maDonHang}}">Xóa</a>
												</div>
											</div>
											<div th:if="${donhang?.daThanhToan} != true">
												<div class="modal-body">
													<p>Đơn hàng mã [[${donhang.maDonHang}]] chưa được thanh
														toán !</p>
												</div>
												<div class="modal-footer justify-content-center">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Đã hiểu</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</tr>
						</table>
					</div>
				</div>
				<div class="row mt-4 mb-4">
					<span class="col-6" style="display: block; text-align: center;">Showing
						orders [[${start}]] to [[${end}]] of [[${totalData}]]</span>
					<div class="pagination col-6">

						<th:block th:if="${totalPage <= 8}">
							<a
								th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${i}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}"
								th:each="i: ${#numbers.sequence(1, totalPage)}"
								th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
						</th:block>
						<th:block th:if="${totalPage > 8}">
							<a
								th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage=1&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}"
								th:class="${currentPage == 1 ? 'disbale' : ''}">&laquo;</a>
							<th:block
								th:if="${currentPage <= 4 || currentPage > totalPage - 3}">
								<a
									th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${i}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}"
									th:each="i: ${#numbers.sequence(1, 5)}"
									th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
								<a
									th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage==5&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}">...</a>
								<a
									th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${i}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}"
									th:each="i: ${#numbers.sequence(totalPage - 3, totalPage)}"
									th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
							</th:block>
							<a
								th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${totalPage}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}"
								th:class="${currentPage == totalPage ? 'disbale' : ''}">&raquo;</a>
						</th:block>

						<th:block
							th:if="${currentPage > 4 && currentPage < totalPage - 3}">
							<a
								th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${currentPage - 4}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}">...</a>

							<a
								th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${i}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}"
								th:each="i: ${#numbers.sequence(currentPage - 3, currentPage + 3)}"
								th:class="${currentPage == i ? 'active' : ''}">[[${i}]]</a>
							<a
								th:href="@{'/admin/don-hang/danh-sach-don-hang?currentPage='+${currentPage + 4}+'&tenkhachhang='+&{tenkhachhang}+'&trangthai='+${trangthai}+'&ngaydat='+${ngaydat}}">...</a>
						</th:block>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="admin/common/footer :: footer"></div>
	</section>
</body>
</html>