<footer th:fragment="footer" class="py-4 bg-light mt-auto">
	<!-- thanh cac dich vu :mien phi giao hang, qua tang mien phi ........ -->
	<section class="abovefooter text-white"
		style="background-color: #CF111A;">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="dichvu d-flex align-items-center">
						<img th:src="@{/images/icon-books.png}" alt="icon-books">
						<div class="noidung">
							<h6 class="tieude font-weight-bold">HƠN 14.000 TỰA SÁCH HAY</h6>
							<p class="detail">Tuyển chọn bởi DealBooks</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="dichvu d-flex align-items-center">
						<img th:src="@{/images/icon-ship.png}" alt="icon-ship">
						<div class="noidung">
							<h6 class="tieude font-weight-bold">MIỄN PHÍ GIAO HÀNG</h6>
							<p class="detail">Từ 150.000đ ở TP.HCM</p>
							<p class="detail">Từ 300.000đ ở tỉnh thành khác</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="dichvu d-flex align-items-center">
						<img th:src="@{/images/icon-gift.png}" alt="icon-gift">
						<div class="noidung">
							<h6 class="tieude font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h6>
							<p class="detail">Tặng Bookmark</p>
							<p class="detail">Bao sách miễn phí</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="dichvu d-flex align-items-center">
						<img th:src="@{/images/icon-return.png}" alt="icon-return">
						<div class="noidung">
							<h6 class="tieude font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h6>
							<p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer  -->
	<div class="container py-4">
		<div class="row">
			<div class="col-md-3 col-xs-6">
				<div class="gioithieu">
					<h6 class="header text-uppercase font-weight-bold">Về DealBook</h6>
					<a href="#">Giới thiệu về DealBook</a> <a href="#">Tuyển dụng</a>
					<div class="fb-like"
						data-href="https://www.facebook.com/DealBook-110745443947730/"
						data-width="300px" data-layout="button" data-action="like"
						data-size="small" data-share="true"></div>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="hotrokh">
					<h6 class="header text-uppercase font-weight-bold">HỖ TRỢ
						KHÁCH HÀNG</h6>
					<a href="#">Hướng dẫn đặt hàng</a> <a href="#">Phương thức
						thanh toán</a> <a href="#">Phương thức vận chuyển</a> <a href="#">Chính
						sách đổi trả</a>
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="lienket">
					<h6 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ
						LIÊN KẾT</h6>
					<img th:src="@{/images/dang-ky-bo-cong-thuong.png}"
						alt="dang-ky-bo-cong-thuong">
				</div>
			</div>
			<div class="col-md-3 col-xs-6">
				<div class="ptthanhtoan">
					<h6 class="header text-uppercase font-weight-bold">Phương thức
						thanh toán</h6>
					<img th:src="@{/images/visa-payment.jpg}" alt="visa-payment">
					<img th:src="@{/images/master-card-payment.jpg}"
						alt="master-card-payment"> <img
						th:src="@{/images/jcb-payment.jpg}" alt="jcb-payment"> <img
						th:src="@{/images/atm-payment.jpg}" alt="atm-payment"> <img
						th:src="@{/images/cod-payment.jpg}" alt="cod-payment"> <img
						th:src="@{/images/payoo-payment.jpg}" alt="payoo-payment">
				</div>
			</div>
		</div>
	</div>
</footer>